*{
    padding: 0px;
    font-family: font-family: 'Manjari', sans-serif;
    margin: 0px;

}
body{
    width:100%;
    height:100%;
}

.section-1{
    margin-left: 5rem;
    margin-top: 7rem;
}
 .section-1 h1{
    font-weight: bold;

 }


.card-deck{
    margin: 12rem; 
    margin-top: 5rem;
}
.card-deck img{
    width: 10rem;
    height: 10rem;
}

.img2 h2,p{
    margin-left: 
}
.section-3{
    margin-top: 3rem;
}

.section-3 h2{
    font-weight: 800;
    font-size: 50px;
}

@media(max-width: 767px){
    .card-deck{
        margin: .5rem;
        text-align: center;
    }

    .card-deck img{
      height: 3rem;
      width: 3rem;
      margin-left: 11rem;  
      margin-top: 1.5rem;
    }

    .card-deck h5{
        font-weight: 600;
    } 
    .but-1{
        padding-left: 7rem;
        padding-right:  7rem;
    }
    .but-2{
        padding-left: 10rem;
        padding-right:  10rem;
    }
}

