*{
    background: lightgreen;
}


.form-body{
    height: 50vh;
    width: 50vh;
    background:white;
    padding: 5em 5em;
    margin: 10em 30em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
 
}

.firstname{
    margin-left: -6.2rem ;
    color: black;
    background-color: white;
    text-align: left;
}

.check-section{
    background-color: white;
    color: black;
    text-align: left;
}


button{
    margin: .5rem;
    padding: .5rem 1rem;
    background-color: lightgreen;
    color: black;
}

button:hover {
    background-color: darkgreen;

    
}
.form-response{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

.form-response, .form-response h3, .form-response textarea{
    color: black;
    background-color: lightgrey;
}
